.popup {
  position: absolute;
  display: none;
  background-color: #fff;
  z-index: 999;
  border-radius: 4px;
  -webkit-box-shadow: -1px 10px 33px -5px rgba(222, 218, 222, 1);
  -moz-box-shadow: -1px 10px 33px -5px rgba(222, 218, 222, 1);
  box-shadow: -1px 10px 33px -5px rgba(222, 218, 222, 1);
  overflow-y: auto;
  min-width: 160px;
  padding-bottom: 10px;

  span {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e0e0e0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style-type: none;
    width: 100%;

    li {
      padding: 8px 16px;
      cursor: pointer;
      font-size: 13px;
      color: #4d4b4b;

      &:first-of-type {
        margin-top: 10px;
      }

      &:hover {
        background-color: #0000000a;
      }
    }
  }
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
